flag:		syntheticSgbenchmark2 #Flag of current experiment
tools:		tensorflow			#Tools to benchmark
experiments: #<network type>; <network name>;  <device id>; <gpu count>;  <batch size>;  <number of epochs>;  <epoch size>; <learning rate>
{
#		fc;		fcn5;		-1;	1;		1024;		4;		60000;		0.05
		cnn;		alexnet;	-1;		1;		1;			2;		50000;		0.01
		cnn;		alexnet;	-1;		1;		2;			2;		50000;		0.01
		cnn;		alexnet;	-1;		1;		4;			2;		50000;		0.01
		cnn;		alexnet;	-1;		1;		8;			2;		50000;		0.01
        cnn;		resnet;		-1;		1;		1;		2;		hardcoded2048;		0.01
        cnn;		resnet;		-1;		1;		2;		2;		hardcoded2048;		0.01
        cnn;		resnet;		-1;		1;		4;		2;		hardcoded2048;		0.01
        cnn;		resnet;		-1;		1;		8;		2;		hardcoded2048;		0.01
#		cnn;		resnet;		-1;		1;		16;		2;		hardcoded2048;		0.01
#		cnn;		resnet;		-1;		1;		64;		2;		hardcoded2048;		0.01	
#		cnn;		resnet;		-1;		1;		256;		2;		hardcoded2048;		0.01
#		cnn;            resnet;         -1;             1;		1024;		2;		hardcoded2048;		0.01
#		cnn;		resnet;		-1;		1;		2048;		2;		hardcoded2048;		0.01

#		cnn;		alexnet;	-1;		1;		256;		2;		50000;		0.01
#		cnn;		alexnet;	-1;		1;		512;		2;		50000;		0.01
#		cnn;		alexnet;	-1;		1;		1024;		2;		50000;		0.01
#		cnn;		alexnet;	-1;		1;		2048;		2;		50000;		0.01
#		cnn;		resnet;		-1;		1;		2048;		2;		hardcoded2048;		0.01
#		rnn;		lstm;		-1;		1;		128;		2;		2048;		0.1
}
host_file:	None		#Path to host file or None
cpu_name:	all		#CPU model
device_name:	all		#GPU model
cpu_count:	64		#CPU count for cpu parallel
cuda:		8.0		#CUDA version
cudnn:		5.1		#CUDNN version
cuda_driver:	367.48		#CUDA driver version
